body{

    font-family: 'Asap', sans-serif;
    color: #1c1c1c;
}

h1, h2, h3{

    font-family: 'Nunito', sans-serif;
    color: #000000;
}

.button{

    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #191970;
    font-size: .9em;
    border-radius: 3px;
}

.navigation{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
}

.nav-button{

    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
    font-family:'Courier New', Courier, monospace;
}

.nav-list{

    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

.nav-item{

    text-align: center;
    width: 100%;
}

.nav-references{

    display: inline-block;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

.banner{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/img/banner20.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: large;
    color: #000000;
    text-align: center;
    padding: 20px;
}

.main-name{

    color: #0c0a0a;
    font-weight: 900;
}

.banner-text{

    margin-bottom: 2em;
    font-weight: 500;
}

#about{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
    color: #FFFFFF;
}

.about-name {

    color: #FFFFFF;   
}

.about-text{
    
    margin-bottom: 2.5em;
    max-width: 1000px;
}

.about-button{

    background-color: #f1f1f1;
    color: #1c1c1c;
    text-decoration: none;
    padding: 10px 30px;
    font-size: .9em;
    border-radius: 3px;
}

#items {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.items-image{

    height: 180px;
    width: 180px;
}

.items-items{

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.items-text{

    margin-top: 1px;
}

.items-name{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

#promotions{

    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.promotions-name{
    text-align: center;
    margin-bottom: 20px;
}

.promotions-itens{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.promotions-images{

    height: 500px;
    width: 334px;
}

#contact{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.contact-name{

    color: #000000;
}

.contact-image{

    height: 120px;
    width: 120px;
}

.footer{

    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: #FFFFFF;
}
.footer-back {

    text-decoration: none;
    color: #00FFFF;
}

@media screen and ( max-width: 768px ){

    .navigation{

        flex-direction: column;
        justify-content: space-around;
    }

    .nav-list{

        flex-direction: row;
        justify-content: center;
    }

    .banner{

        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    #about{

        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

    .items-items{

        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    .items-name{

        text-align: center;
        width: 100%;
    }

    .items-items{

        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }

    .promotions-itens{

        flex-direction: row;
        flex-wrap: wrap;
    }

    .promotions-images{

        margin-bottom: 10px;
    }

    .promotions-name{

        width: 100%;
        text-align: center;
    }

    #contact{

        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }

    .contact-name, .contact-adress{

        width: 100%;
    }

}
